<h1>Olá <%= @user.name %></h1>

<p>
  Foram adicionados <%= @creditos %> à sua conta!
  Seu saldo atual é de <%= @user.credit %>.
</p>
<p>Confira em seu gerenciador de pedidos: https://postcom.herokuapp.com</p>
