<h1>Olá <%= @user.name %></h1>

<p>
  Recebemos seu pedido <b><%= @desejo.title %></b> e em menos de 24 horas você receberá uma proposta da nossa equipe de criação.
</p>
<p>Confira em seu gerenciador de pedidos: <a href="https://postcom.herokuapp.com/">PostCom</a></p>
