<h1>Olá <%= @user.name %></h1>

<p>
  Seu pagamento foi recebido na PostCom, seguem abaixo os dados para acesso ao seu gerenciador de pedidos:
</p>
<!-- Link de acesso: site -->

<p>Link de acesso à seu gerenciador de pedidos: <a href="https://postcom.herokuapp.com/">PostCom</a></p>

<!-- Trocar o link do Heroku-->
<p>Login: <%= @user.email %></p>
<p>Senha: <%= @password %></p>
<!-- <p>Recomendamos a mudança da senha logo após o primeiro acesso.</p> -->
