<h1>Olá <%= @user.name %></h1>

<p>
  Foram adicionados <%= @creditos %> à sua conta!<br>
  Você possuí um total de <%= @user.credit %> créditos!
</p>
<p>Confira em seu gerenciador de pedidos: <a href="https://postcom.herokuapp.com/">PostCom</a></p>
