<h1>Olá <%= @user.name %></h1>

<p>
  Recebemos seu desejo <%= @desejo.title %> e em menos de 24 horas você receberá uma proposta de um de nossos vendedores.
</p>
<p>Confira em nossa plataforma: https://postcom.herokuapp.com</p>
