<h1>Olá <%= @user.name %></h1>

<p>
  Seu pagamento foi recebido na PostCom, seguem abaixo os dados para acesso à nossa plataforma:
</p>
<p>Link de acesso à nossa plataforma: https://postcom.herokuapp.com/</p>
<p>Senha: <%= @password %></p>
<p>Recomendamos a mudança da senha logo após o primeiro acesso.</p>
